<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>application page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        <h1>{{msg}}</h1>
        your name : <input type="text" v-model="name">
        <p v-if="count==0">no click happen</p>
        <p v-else-if="count>5">r koto dibi vai bas kor!!</p>
        <p v-else>total count: {{count}}</p>
        <button v-on:click="sayhi"> hi</button>
        <p v-for="i in names">{{i}} is clicked</p>
    </div>
</body>
<script src="application.js"></script>
</html>